// Items Component

.items {
  padding: 2em;
  border-radius: 6px;
  background-color: $white;
  box-shadow: 0 0 8px $shadow;
  @media screen and (width >= $device-md) {
    min-width: 66.66%;
    margin: 0 auto;
  }
  @media screen and (width >= $device-xl) {
    min-width: 50%;
  }

  &__title {
    margin-top: 0;
    font-family: $fontTitle;
    font-size: 1.5em;
    @media screen and (width >= $device-lg) {
      font-size: 2em;
    }

    &-link {
      color: $black;
      text-decoration: none;
      &:visited, &:hover, &:focus, &:active  {
        color: $black;
      }
      &:hover, &:focus, &:active {
        text-decoration: underline;
      }
    }
  }

  &__button {
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 4px;
    color: $white;
    background-color: $medDark;
    font-family: $fontContent;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    @media screen and (width >= $device-lg) {
      font-size: 1.5em;
    }
    &:hover {
      background-color: $bright;
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    font-family: $fontContent;
    font-size: 1.25em;
    list-style: none;
    @media screen and (width >= $device-lg) {
      font-size: 1.5em;
    }

    &__item {
      margin: 0.15em;
      &--dir {
        order: -1;
      }
    }

    &__icon {
      width: 1em;
      margin-right: 0.5em;
      &--dir {
        color: $dark;
      }
      &--file {
        padding-right: 5px;
        color: $medDark;
        @media screen and (width >= $device-lg) {
          padding-right: 6px;
        }
      }
    }

    &__link {
      text-decoration: none;
      &--dir {
        color: $dark;
        &:visited, &:hover, &:focus, &:active {
          color: $dark;
        }
        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
      }
      &--file {
        color: $medDark;
        &:visited, &:hover, &:focus, &:active {
          color: $medDark;
        }
        &:hover, &:focus, &:active {
          text-decoration: underline;
        }
      }
    }
  }
}