// Repo Contents Component

.repo-contents {
  padding-top: 1em;
  @media screen and (width >= $device-md) {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
  }

  &__content {
    @media screen and (width >= $device-md) {
      flex-basis: 100%;
    }
  }

  &__button {
    margin: 1.5em 0;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 4px;
    color: $white;
    background-color: $medDark;
    font-family: $fontContent;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    @media screen and (width >= $device-lg) {
      font-size: 1.5em;
    }
    &:hover {
      background-color: $bright;
    }
  }
}