// Repos Component

.repos {
  padding: 1em;
  @media screen and (width >= 1400px) {
    padding: 2em;
  }

  &__content {
    color: $black;
    font-family: $fontContent;
    font-size: 1.25em;
    text-transform: uppercase;
    @media screen and (width >= $device-md) {
      font-size: 1.75em;
    }
  }
}