// Colors

// Black
$black: #000000;

// White
$white: #ffffff;

// Theme
$dark: #030d25;
$medDark: #1743b0;
$medium: #87a7f6;
$medLight: #aabded;
$light: #d5d9e3;

// Languages
$bkgCSS: #58327b;
$bkgHTML: #dd521c;
$bkgJS: #ece55a;